asgiref
backports.zoneinfo;python_version<"3.9"
Django
django-environ 
sqlparse
djangorestframework
# mysqlclient
python-dotenv
pytz
python-jose 
social-auth-app-django
cryptography
django-cors-headers
drf-jwt
pyjwt
requests

# Authlib~=1.0.0
# Django>=3.0,<4.0
# djangorestframework>=3.14.0,<4.0.0
# djangorestframework-jwt>=1.11.0,<2.0.0
# psycopg2>=2.8
# python-dotenv>=1.0.0
# django-cors-headers>=3.14.0,<4.0.0
# pyjwt>=1.5.2,<3.0.0